.nosotros-historia{
    display: flex;

    h3{
    margin: 150px;
    display: flex;
    align-items: center;
    font-family: Lato;
    }
}

.nuestros-img{
    margin: 100px;
    width: 800px;
}

.nosotros-proyectos{
    display: flex;
    align-items: center;
}

.video-proyecto{
    margin: 100px;
    
}

.nuestros-ideas{
    font-family: Lato;
    display: flex;
    align-items: center;
}

.img-proyecto{
    margin: 100px;
    width: 800px;
}